.divUpdate{
    position: absolute;
    height: 680px;
    width: 570px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    border-radius: 5%;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
}
.divBtn{
    display: flex;
    justify-content: space-evenly;
}
.divIcon{
position: absolute;
left: 100%;
bottom: 11%;
}
.divImg{
    position: absolute;
    left: 120%;
    bottom: 2%;
    
}